[% title = "Admin" %]

<h3><a href="[% admin_urls.projects %]">Projects</a></h3>

<ul>
[% FOR proj IN projects %]
    <li>[% link_project(proj) %]</li>
[% END %]
    <li><a href="[% admin_urls.projects %]">…</a></li>
</ul>

<h3><a href="[% admin_urls.recipes %]">Recipes</a></h3>

<ul>
[% FOR recipe IN recipes %]
    <li>
        <a href="[% recipe.url %]">[% recipe.name | html %]</a>
        (from [% link_project(recipe.project) %])
    </li>
[% END %]
    <li><a href="[% admin_urls.recipes %]">…</a></li>
</ul>

<h3><a href="[% admin_urls.users %]">Users</a></h3>

<ul>
[% FOR u IN users %]
    <li>[% link_user(u) %]</li>
[% END %]
    <li><a href="[% admin_urls.users %]">…</a></li>
</ul>

<h3><a href="[% admin_urls.organizations %]">Organizations</a></h3>

<ul>
[% FOR organization IN organizations %]
    <li>[% link_organization(organization) %]</li>
[% END %]
    <li><a href="[% admin_urls.organizations %]">…</a></li>
</ul>
