[% title = "Organizations" %]

<ul class="list-group">
[% FOR organization IN organizations %]
    <li class="list-group-item">[% link_organization(organization, organization.url) %]</li>
[% END %]
</ul>
