<ul>
[% FOR recipe IN recipes %]
    <li>
        <a href="[% recipe.url %]">[% recipe.name | html %]</a>
        (from [% link_project(recipe.project) %]
        by [% link_user(recipe.project.owner) %])
    </li>
[% END %]
</ul>
