<ul>
[% FOR recipe IN recipes %]
    <li>
        <a href="[% recipe.url %]">[% recipe.name | html %]</a>
        (from [% link_project(recipe.project) %]
        by <a href="[% recipe.project.owner.url %]">[% recipe.project.owner.display_name | html %]</a>)
    </li>
[% END %]
</ul>
