[% title = "Recipes" %]

[% BLOCK recipe_item %]
<a href="[% item.url %]">[% item.name | html %]</a> from [% link_project(item.project) %] by [% link_user(item.project.owner) %]
[% END;
list(recipes, 'recipe_item') %]
