[% window_title = "Reset password";

js.push('/js/user/register.js');
js.push('/lib/zxcvbn.js');
%]

<div class="mx-auto" style="max-width:500px;">
    <div class="content-box mb-3">
        <div class="text-center mb-3">
            <h2>Reset password</h2>
        </div>

        <p>You’ve successfully verified your email address and can reset your password now:</p>

        <form method="post" action="[% reset_password_url %]" class="d-flex flex-column gap-1">
            <div class="form-floating">
                <input type="password" name="password" required id="password" placeholder="New password" class="form-control">
                <label for="password">New password</label>
            </div>
            <div id="meter" class="inline-block ps-2 mb-3"></div>
            <div class="form-floating">
                <input type="password" name="password2" required id="password2" placeholder="Confirm new password" class="form-control">
                <label for="password2">Confirm new password</label>
            </div>
            <div id="comparator" class="inline-block ps-2 mb-3"></div>
            <input type="submit" value="Reset password" class="btn btn-primary">
        </form>
    </div>
</div>
