[% escape_title( 'User', user_object.display_name ) %]

<p>
    [% IF my_settings_url %]
    <a href="[% my_settings_url %]" class="btn btn-outline-primary"><i class="material-icons">edit</i> Edit your profile</a>
    [% END %]

    [% IF profile_admin_url %]
    <a href="[% profile_admin_url %]" class="btn btn-outline-secondary"><i class="material-icons">supervisor_account</i> View profile as admin</a>
    [% END %]
</p>

<p class="text-muted small">Registered: [% display_date(user_object.created) %]</p>

<div class="row g-3">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="my-2">Public projects owned by [% user_object.name %]</h3>
            </div>
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    [% FOR proj IN projects %]
                    <a href="[% proj.url %]" title="Show project" class="list-group-item list-group-item-action text-primary text-decoration-underline">[% proj.name | html %]</a>
                    [% END %]
                </div>                
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="my-2">Member of the following organizations</h3>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    [% FOR organization IN organizations %]
                    <li class="list-group-item">[% link_organization(organization) %]</li>
                    [% END %]
                </ul>
            </div>
        </div>
    </div>
</div>

[% WRAPPER includes/infobox.tt %]
    User profiles are visible to every user logged in on [% name %].
    Other users won’t see names of private projects that they have no permission for.
[% END %]
