[% title = "Unassigned items" %]

<form method="post" action="[% assign_url %]">
<table id="items" class="table table-striped table-hover align-middle">
    <thead>
        <tr class="sticky-top">
            <th>Ingredient</th>
            <th>Assign to purchase list</th>
        </tr>
    </thead>
    <tbody>
    [% FOR ingredient IN ingredients %]
        <tr>
            <td>
                <strong>[% display_value_unit(ingredient.value, ingredient.unit, {html=>1}) %] [% ingredient.article.name | html %]</strong>
                <br>
                [% IF ingredient.dish.prepare_at_meal %]
                    prepared at [% ingredient.dish.prepare_at_meal.name | html %] on [% display_date(ingredient.dish.prepare_at_meal.date, {html=>1}) %]
                    <br>
                [% END %]
                <a href="[% ingredient.dish.url %]">[% ingredient.dish.name | html %]</a> for [% ingredient.dish.meal.name %] on [% display_date(ingredient.dish.meal.date, {html=>1}) %]
                [% IF ingredient.comment.length %]
                    <div class="text-muted mt-1">ingredient:<br>[% ingredient.comment | html %]</div>
                [% END;
                IF ingredient.article.comment.length %]
                    <div class="text-muted mt-1">article:<br>[% ingredient.article.comment | html %]</div>
                [% END %]
            </td>
            <td style="min-width:50%;">
                <div class="row row-cols-auto g-2">
                    <div class="col">
                        <div class="form-check">
                            <input id="a[% ingredient.id %]none" class="form-check-input" type="radio" name="assign[% ingredient.id %]" value="" checked>
                            <label for="a[% ingredient.id %]none" class="form-check-label">keep unassigned</label>
                        </div>
                    </div>
                    [% FOREACH list IN lists %]
                    <div class="col">
                        <div class="form-check">
                            <input id="a[% ingredient.id %]l[% list.id %]" class="form-check-input" type="radio" name="assign[% ingredient.id %]" value="[% list.id %]">
                            <label for="a[% ingredient.id %]l[% list.id %]" class="form-check-label">list <em>[% list.name | html %]</em></label>
                        </div>
                    </div>
                    [% END %]
                </div>
            </td>
        </tr>
    [% END %]
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <button class="btn btn-primary" type="submit" title="Assign to purchase list">Assign to purchase list</button>
</div>
</form>
