<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        [% IF window_title;
            window_title _ ' · ' | html;
        ELSIF title;
            title        _ ' · ' | html;
        END;

        IF project;
            project.name _ ' · ' | html;
        END;

        name | html %]
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="[% meta_description %]">
    <meta name="keywords"    content="[% meta_keywords %]">
    <meta name="robots"      content="[% meta_robots %]">

[% IF canonical_url %]
    <link rel="canonical" href="[% canonical_url %]">
[% END %]

[% IF icon_url %]
    <link rel="icon" type="[% icon_type %]" href="[% icon_url %]">
[% END %]
[% FOR sizes IN icon_urls.keys %]
    <link rel="apple-touch-icon" [% IF sizes.length %]sizes="[% sizes %]"[% END %] href="[% icon_urls.$sizes %]">
[% END %]

[% IF me_url %]
    <link rel="me" href="[% me_url %]">
[% END %]

[% FOREACH path IN css %]
    <link rel="stylesheet" href="[% path.match('^https?://') ? path : uri_for_static(path) %]">
[% END %]
</head>

<body>
    <header class="sticky-top">
        <nav>
            <div class="navbar navbar-expand-xl navbar-dark bg-dark py-0">
                <div class="container-md">
                    <a class="navbar-brand d-flex align-items-center fw-bolder" href="[% homepage_url %]">[% name | html %]</a>
                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header p-3">
                            <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Menu</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body justify-content-end">
                            <ul class="d-flex flex-column flex-xl-row gap-2 p-0 m-0" id="project_nav">
                                <li class="nav-item d-block d-xl-none"><a class="nav-link" href="[% homepage_url %]">Home</a></li>
                                [% IF project_urls %]
                                    <li class="nav-item"><a class="nav-link" href="[% project_urls.project %]">Project</a></li>
                                    <li class="nav-item"><a class="nav-link" href="[% project_urls.recipes %]">Recipes</a><span class="badge rounded-pill bg-primary text-light">[% inventory.recipes %]</span></li>
                                    <li class="nav-item"><a class="nav-link" href="[% project_urls.articles %]">Articles</a><span class="badge rounded-pill bg-primary text-light">[% inventory.articles %]</span></li>
                                    <li class="nav-item"><a class="nav-link" href="[% project_urls.tags %]">Tags</a><span class="badge rounded-pill bg-primary text-light">[% inventory.tags %]</span></li>
                                    <li class="nav-item"><a class="nav-link" href="[% project_urls.purchase_lists %]">Purchase Lists</a><span class="badge rounded-pill bg-primary text-light">[% inventory.purchase_lists %]</span></li>
                                    <li class="nav-item"><a class="nav-link" href="[% project_urls.units %]">Units</a><span class="badge rounded-pill bg-primary text-light">[% inventory.units %]</span></li>
                                    [% IF user %]
                                        <li class="nav-item">
                                        [% IF project_urls.import %]
                                            <a class="nav-link" href="[% project_urls.import %]">Import</a>
                                        [% ELSE %]
                                            <span class="nav-link disabled-import" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bs-title="Nothing can be imported because there already is data in all categories">Import</span>
                                        [% END %]
                                        </li>
                                    [% END %]
                                [% END %]

                                [% IF submenu_items.size > 0 %]
                                    <div class="d-block d-md-none">
                                        <hr class="border border-secondary">
                                    [% IF project %]
                                        <h3 class="text-light">Project [% project.name %]</h3>
                                    [% END %]
                                        <ul class="d-flex flex-column gap-2 p-0 m-0">
                                            [% FOR item IN submenu_items;
                                                IF item.url %]
                                                    <li class="nav-item"><a class="nav-link" href="[% item.url %]">[% item.text %]</a></li>
                                                [% ELSE; # TODO setting href="" doesn’t work if page is response to POST request and URL isn’t available via GET %]
                                                    <li class="nav-item"><a class="nav-link text-primary" aria-current="page" href="">[% item.text %]</a></li>
                                                [% END;
                                            END %]
                                        </ul>
                                    </div>
                                [% END %]
                                [% IF user %]
                                    <div class="d-block d-xl-none">
                                        <hr class="border border-secondary">
                                        <ul class="d-flex flex-column gap-2 p-0 m-0">
                                            <li class="nav-item"><a class="nav-link" href="[% user_url %]">Profile</a></li>
                                            <li class="nav-item"><a class="nav-link" href="[% settings_url %]">Settings</a></li>
                                            <hr class="border border-secondary">
                                            <li class="nav-item"><form method="post" action="[% logout_url %]">
                                                <button class="nav-link btn text-danger" name="logout">Sign out</button>
                                            </form></li>
                                        </ul>
                                    </div>
                                [% END %]
                                [% IF login_url %]
                                    <hr class="d-xl-none border border-secondary">
                                    <li class="nav-item d-none d-xl-flex"><a class="btn btn-sm nav-link dark-link" href="[% login_url %]">Sign in</a></li>
                                    <li class="nav-item d-block d-xl-none"><a class="nav-link" href="[% login_url %]">Sign in</a></li>
                                [% END %]
                                [% IF register_url %]
                                    <li class="nav-item d-none d-xl-flex"><a class="btn btn-outline-light btn-sm" href="[% register_url %]">Sign up</a></li>
                                    <li class="nav-item d-block d-xl-none"><a class="nav-link" href="[% register_url %]">Sign up</a></li>
                                [% END %]
                            </ul>
                            [% IF user %]
                                <div class="dropdown d-none d-xl-block">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="material-icons">person</i> [% user.display_name | html %]
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="[% user_url %]">Profile</a></li>
                                        <li><a class="dropdown-item" href="[% settings_url %]">Settings</a></li>
                                        [% IF logout_url %]
                                            <hr class="my-1">
                                            <li><form method="post" action="[% logout_url %]">
                                                <button class="dropdown-item" name="logout">Sign out</button>
                                            </form></li>
                                        [% END %]
                                    </ul>
                                </div>
                            [% END %]
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-primary d-none d-md-block" id="submenu_nav">
                <div class="navbar-nav d-flex flex-row justify-content-between align-items-center container-md px-2">
                    <ul class="d-flex p-0 m-0">
                        [% FOR item IN submenu_items;
                            IF item.url %]
                            <li class="nav-item"><a class="nav-link text-dark px-2" href="[% item.url %]">[% item.text %]</a></li>
                            [% ELSE; # TODO setting href="" doesn’t work if page is response to POST request and URL isn’t available via GET %]
                            <li class="nav-item"><a class="nav-link text-dark px-2 active" aria-current="page" href="">[% item.text %]</a></li>
                            [% END;
                        END %]
                    </ul>
                    <div>
                        [% IF project %]
                        <a href="[% project_urls.project %]" class="text-dark nav-link px-2 fw-bold">
                            [% display_project(project) %]
                        </a>
                        [% ELSIF user AND NOT submenu_items.size %]
                        <p class="text-dark my-2">Please create or choose a project now.</p>
                        [% END %]
                    </div>
                </div>
            </div>
        </nav>
    </header>

    [% INCLUDE $include_between_header_and_main IF include_between_header_and_main %]

    <main class="container-md py-3 mb-auto">
        <div class="row my-3">
            <div id="messages" class="col-12">
            [% WHILE (message = messages.next) %]
                <div class="alert alert-[% SWITCH message.type; CASE "debug" %]dark[% CASE "warn" %]warning[% CASE "error" %]danger[% CASE %]success[% END %]" role="alert">
                [% IF message.html;
                    message.html;
                ELSE %]
                    <p class="m-0">[% message.text | html %]</p>
                [% END %]
                    </div>
            [% END %]
            </div>
            <div class="col-12">
                <h1 class="print">[% name | html; IF project %]: [% project.name | html; END %]</h1>
                [% IF html_title OR title %]
                <h2 class="display-3">
                    [% IF html_title;
                        html_title; # may contain HTML
                    ELSIF title;
                        title | html;
                    END %]
                </h2>
                [% END %]
            </div>
        </div>
        [% content %]
    </main>

    <footer class="bg-dark text-white">
        <div class="container-md">
            <div class="row text-center text-md-start">
                <div class="col-md">
                    <h3><span class="tiny">Browse</span></h3>
                    <ul class="list-unstyled small">
                        <li><a class="dark-link" href="[% recipes_url %]">Recipes</a></li>
                        <li><a class="dark-link" href="[% projects_url %]">Projects</a></li>
                    </ul>
                </div>

                <div class="col-md">
                    <h3><span class="tiny">Get Help</span></h3>
                    <ul class="list-unstyled small">
[% IF faq_url %]
                        <li><a class="dark-link" href="[% faq_url %]"><abbr title="Frequently Asked Questions">FAQ</abbr></a></li>
[% END %]
[% FOR help_link IN help_links %]
                        <li><a class="dark-link" href="[% help_link.url %]">[% help_link.title | html %]</a></li>
[% END %]
                    </ul>

                </div>

[% IF admin_url %]
                <div class="col-md">
                    <h3><span class="tiny"><a class="dark-link" href="[% admin_url %]">Admin</a></span></h3>
                    <ul class="list-unstyled small">
                        <li><a class="dark-link" href="[% admin_urls.faq %]">FAQ</a></li>
                        <li><a class="dark-link" href="[% admin_urls.organizations %]">Organizations</a></li>
                        <li><a class="dark-link" href="[% admin_urls.projects %]">Projects</a></li>
                        <li><a class="dark-link" href="[% admin_urls.recipes %]">Recipes</a></li>
                        <li><a class="dark-link" href="[% admin_urls.terms %]">Terms</a></li>
                        <li><a class="dark-link" href="[% admin_urls.users %]">Users</a></li>
                    </ul>
                </div>
[% END %]

                <div class="col-md">
                    <h3><span class="tiny">About [% name | html %]</span></h3>
                    <ul class="list-unstyled small">
                        <li><a class="dark-link" href="[% statistics_url %]">Statistics</a></li>
                        <li><a class="dark-link" href="[% about_url %]">[% about_title %]</a></li>
[% IF terms_url %]
                        <li><a class="dark-link" href="[% terms_url %]">Terms</a></li>
[% END %]
                    </ul>

                </div>
            </div>

        </div>
    </footer>
    <div class="no-print">
        [% INCLUDE 'wrapper_footer.tt' %]
    </div>

    [% FOR path IN js %]
    <script src="[% path.match('^https?://') ? path : uri_for_static(path) %]"></script>
    [% END %]
</body>
</html>
