[% title = project.name;

css_push_template_path();
js.push('/lib/coocook-web-components/dist/meals-dishes-editor/meals-dishes-editor.es.js');
%]

<div class="meals-dishes-editor" data-meals-dishes-editor-json-id="meals-dishes-editor-data"></div>

[% WRAPPER includes/infobox.tt %]
    <em>Meals</em> are occasions when food will be served, e.g. breakfast, lunch and dinner,
    and may contain any number of dishes.
    <br>
    <em>Dishes</em> might represent different courses like appetizer and dessert
    or regard different tastes or intolerances.
</p>

<p>
    <i class="material-icons">lightbulb</i> Pro tip:
    Create recipes for different food components like pasta and sauces
    and add them as dishes in ever changing combinations!
[% END %]
