[% title = "Import";

js_push_template_path();

no_import = 1;
FOR p IN properties;
    IF !p.disabled;
        no_import = 0;
    END;
END;

IF no_import; %]
<p>Nothing can be imported to this project, because you already created your own stuff in all possible categories.</p>
[% ELSE %]
<form method="post" action="[% import_url %]" class="import">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Source Project</h3>
        </div>

        <div class="card-body">
            <select class="form-control" name="source_project">
            [% FOR proj IN projects # don't overwrite $project %]
                <option value="[% proj.id %]">[% proj.name | html %]</option>
            [% END %]
            </select>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>Properties to import</h3>
        </div>

        <div class="card-body">
            <p id="jsWarning">Properties depend on each other. Enable JavaScript to resolve dependencies automatically.</p>
            [% FOR property IN properties %]
            <div class="form-check">
                <input class="form-check-input" id="property_[% property.key %]" name="property_[% property.key %]" type="checkbox" [% property.disabled ? 'disabled' : 'checked' %]>
                <label class="form-check-label" for="property_[% property.key %]">[% property.name | html %]</label>
            </div>
            [% END %]
        </div>
    </div>

    <button class="btn btn-primary">Import</button>
</form>
[% END %]

[% WRAPPER includes/infobox.tt %]
    Complete your project faster or get more detailed information
    by importing data from existing projects.
</p>

<p>
    If you skip this step now, you can do it later.
    Only if you create some kind of data, for example articles or units,
    you can’t import this kind anymore.
[% END %]
