[% title = "Permissions";

js_push_template_path();
js.push('/lib/coocook-web-components/dist/autocomplete/autocomplete.es.js');

has_admin = 0 %]

<table class="table">
    <thead>
        <tr>
            <th scope="col">User/Organization</th>
            <th scope="col">Role</th>
            <th scope="col" class="btn-icon-1"></th>
        </tr>
    </thead>
    <tbody>
[% FOR permission IN permissions %]
        <tr>
            <td>
    [% IF permission.organization;
        link_organization(permission.organization);
    ELSIF permission.user;
        link_user(permission.user);
    ELSE;
        THROW undef "permissions neither organization nor user";
    END %]
            </td>
            <td>
    [% IF permission.edit_url %]
                <form method="post" action="[% permission.edit_url %]" class="inline">
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                        <select name="role" class="form-select">
        [% FOR role IN roles %]
                            <option value="[% role %]" [% 'selected' IF permission.role == role %]>[% role %]</option>
        [% END %]
                        </select>
                        </div>
                        <div class="col-auto">
                        <input type="submit" value="Save" class="btn btn-primary">
                        </div>
                    </div>
                </form>
    [% ELSE %]
                [% permission.role %]
    [% END %]
            </td>
            <td>
                <div class="row g-2 align-items-center">
    [% IF permission.revoke_url %]
                    <div class="col-auto">
                        <form method="post" action="[% permission.revoke_url %]" class="inline">
                            <button type="submit" title="Revoke" class="btn btn-outline-danger btn-sm btn-quad material-icons">delete_forever</button>
                        </form>
                    </div>
    [% END %]
    [% IF permission.make_owner_url %]
                    <div class="col-auto">
                        <form method="post" action="[% permission.make_owner_url %]" class="inline">
                            <input type="submit" value="Transfer ownership" class="btn btn-primary">
                        </form>
                    </div>
    [% END %]
                </div>
            </td>
        </tr>
[% END %]
    </tbody>
</table>

[% IF add_permission_url %]
    [% IF has_admin == 0 %]
<div class="alert alert-light">
    <i class="material-icons">info</i>
    You need another user with role <em>admin</em> to transfer ownership to them.
</div>
    [% END %]

<div class="card my-3">
    <div class="card-header">
        <h3>Add permission</h3>
    </div>
    <div class="card-body">
    [% IF other_identities %]
        <div id="add-perm-msg"></div>
        <form method="post" action="[% add_permission_url %]" id="add-member">
            <div class="mb-2">
                <label for="user" class="form-label">User/Organization</label>
                <cc-autocomplete id="user" endpoint='{"url": "/autocomplete/organizations_users"}' render="renderUserOrgOption" filter="filterUserOrg" input-name="id" msg-func="alertMessage" invalid='["Please select an user or organization", "danger", false, "add-perm-msg"]'></cc-autocomplete>
            </div>
            <div class="mb-2">
                <label for="role" class="form-label">Role</label>
                <select id="role" class="form-select" name="role">
                [% FOR role IN roles %]
                    <option value="[% role %]">[% role %]</option>
                [% END %]
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form>
    [% ELSE %]
        <p class="alert alert-info">No more users/organizations. You need to let users sign up or create organizations before giving them permission.</p>
    [% END %]
    </div>
</div>
[% END;

WRAPPER includes/infobox.tt %]
    <em>Permissions</em> for a project like <em>[% project.name | html %]</em>
    allow other users at [% name %] to view or edit the project.
    <br>
    Only the single <em>owner</em> of a project has total control,
    including deletion of the project.
[% END %]
