[% title = "Shop sections";

js_push_template_path();

BLOCK new_section %]
<tr>
    <td colspan="3">
        <div class="d-grid">
            <button class="btn btn-outline-primary material-icons" data-bs-toggle="modal" data-bs-target="#add-section">add</button>
        </div>
    </td>
</tr>
[% END %]

<table class="table table-striped align-middle">
    <thead>
        <tr class="sticky-top">
            <th>Name</th>
            <th>Number of Articles</th>
            <th class="btn-icon-2"></th>
        </tr>
    </thead>
    <tbody>
        [% IF shop_sections.size > 5; PROCESS new_section; END;
        FOREACH section IN shop_sections %]
        <tr class="parent">
            <td>[% section.name | html %]</td>
            <td>[% section.article_count %]</td>
            <td>
                <div class="d-flex gap-1 action-btn">
                    <button class="btn btn-outline-dark btn-sm btn-quad update" title="Rename shop section" data-url="[% section.update_url %]" data-name="[% section.name | html %]" data-bs-toggle="modal" data-bs-target="#update-section">
                        <i class="material-icons">edit</i>
                    </button>
                    [% IF section.delete_url %]
                    <form class="ms-1" action="[% section.delete_url %]" method="post">
                        <button type="submit" class="btn btn-outline-danger btn-sm btn-quad" title="Delete shop section">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </form>
                    [% ELSE %]
                    <button type="submit" class="btn btn-outline-danger btn-sm btn-quad" title="[% numerus(section.article_count, "article", "articles") %] are assigned to this shop section" disabled style="pointer-events:auto;cursor:default">
                        <i class="material-icons">delete_forever</i>
                    </button>
                    [% END %]
                </div>
            </td>
        </tr>
        [% END;
        PROCESS new_section %]

    </tbody>
</table>

<form id="update-section-form" method="post" action="">
    <div class="modal fade" id="update-section" tabindex="-1" aria-labelledby="update-section-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-section-label">Rename shop section <i id="section-name"></i></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="ss-new-name" class="form-label">New name</label>
                        <input id="ss-new-name" class="form-control" type="text" name="name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Rename shop section</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" action="[% create_url %]">
    <div class="modal fade" id="add-section" tabindex="-1" aria-labelledby="add-section-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-section-label">Create shop section</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="ss-name" class="form-label">Name</label>
                        <input id="ss-name" class="form-control" type="text" name="name" value="[% last_input.name %]" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create shop section</button>
                </div>
            </div>
        </div>
    </div>
</form>

[% WRAPPER includes/infobox.tt %]
    A <em>shop section</em> is a category for articles that can be purchased.
    You can group articles on purchase lists by selecting the shop section for them.
[% END %]
