[% title = BLOCK %]Import recipe "[% recipe.name %]"[% END;

html_title = BLOCK %]Import recipe <a href="[% recipe_url %]"><em>[% recipe.name | html %]</em></a> from project <a href="[% source_project_url %]"><em>[% recipe.project.name | html %]</em></a>[% END;

css_push_template_path();
js_push_template_path();
%]

<form method="post" action="[% import_url %]" id="import">

    <div class="d-flex flex-wrap gap-2 mb-3">
        <div class="form-floating flex-grow-1 w-100-sm">
            <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="[% recipe.name | html %]" required>
            <label for="name">Name*</label>
        </div>
        <div class="form-floating flex-grow-1 w-100-sm">
            <input type="number" id="servings" name="servings" placeholder="Servings" class="form-control" value="[% recipe.servings %]" min="1" step="1" required>
            <label for="servings">Servings</label>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header"><h3 class="my-2">Ingredient mapping</h3></div>
        <div class="card-body">
            <table id="ingredients" class="table align-middle">
                <thead>
                    <tr>
                        <th>Import?</th>
                        <th colspan="2">Source</th>
                        <th></th>
                        <th>Target</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                [% FOR ingredient IN ingredients %]
                    <tr>
                        <td>
                            <input type="checkbox" name="import[% ingredient.id %]" class="form-check-input should-import" checked>
                        </td>
                        <td>
                            <label for="value[% ingredient.id %]">[% ingredient.value %]</label>
                            [%~ '&thinsp;' ~%]
                            <label for="unit[% ingredient.id %]">
                                <span data-bs-toggle="tooltip" title="[% ingredient.unit.long_name | html %]">[% ingredient.unit.short_name | html %]</span>
                            </label>
                        </td>
                        <td><label for="article[% ingredient.id %]">[% ingredient.article.name | html %]</a></td>
                        <td><i class="material-icons">east</i></td>
                        <td>
                            <div class="input-group">
                                <input id="value[% ingredient.id %]" type="number" min="0" step="any" name="value[% ingredient.id %]" value="[% ingredient.value %]" class="form-control flex-grow-0" style="width:80px" required>
                                <select id="unit[% ingredient.id %]" name="unit[% ingredient.id %]" class="form-control unit" required>
                                    <option value="">-- please select --</option>
                                    [% FOR unit IN units %]
                                    <option value="[% unit.id %]" [% 'selected' IF unit.id == ingredient.unit.target_candidate.id %]>[% unit.short_name %] ([% unit.long_name %])</option>
                                    [% END %]
                                </select>
                                <select id="article[% ingredient.id %]" name="article[% ingredient.id %]" class=" form-control article" required>
                                    <option value="">-- please select --</option>
                                    [% FOR article IN articles %]
                                    <option value="[% article.id %]" data-units="[% article.unit_ids_joined %]" [% 'selected' IF article.id == ingredient.article.target_candidate.id %]>[% article.name | html %]</option>
                                    [% END %]
                                </select>
                            </div>
                        </td>
                        <td>
                            <input id="comment[% ingredient.id %]" class="form-control" name="comment[% ingredient.id %]" value="[% ingredient.comment %]" placeholder="Comment">
                        </td>
                    </tr>
                [% END %]
                </tbody>
            </table>
        </div>
    </div>

    [% USE Markdown;
    IF recipe.preparation %]
    <div class="card my-4">
        <div class="card-header"><h3 class="my-2">Preparation</h3></div>
        <div class="card-body">
            [% recipe.preparation | markdown %]
        </div>
    </div>
    [% END %]

    <div class="card my-4">
        <div class="card-header"><h3 class="my-2">Description</h3></div>
        <div class="card-body">
            [% recipe.preparation | markdown %]
        </div>
    </div>

    <button type="submit" name="import" class="btn btn-primary">Import</button>
</form>

<script id="existing-recipe-names" type="application/json">[% existing_recipe_names_json | html %]</script>
