[% css.push('/css/print.css') %]

<button class="btn btn-primary my-3 material-icons" onclick="print()" title="Print">print</button>

[% FOR meal IN meals %]
<h3 class="display-5">[% meal.name | html %]</h3>

[% IF meal.comment %]
    <p class="comment">[% meal.comment | html %]</p>
[% END %]

[% FOR dish IN meal.dishes %]
<div class="mb-5">
    <h4><a class="display-6" href="[% dish.url %]">[% dish.name | html %]</a> ([% dish.servings %] servings)</h4>
    [% IF dish.comment %]
        <p class="comment">[% dish.comment | html %]</p>
    [% END %]

    [% PROCESS table prepare = 0 %]

    [% IF dish.preparation.length %]
        <h5>Preparation
            [% IF dish.prepare_at_meal;
                prep_meal = dish.prepare_at_meal %]
                (scheduled for <a href="[% prep_meal.url %]">[% prep_meal.name | html %] on [% display_date(prep_meal.date) %]</a>)
            [% END %]
        </h5>

        <div>[% USE Markdown; dish.preparation | markdown %]</div>
    [% END %]

    <h5>Description</h5>
    <div>[% USE Markdown; dish.description | markdown %]</div>
</div>
[% END;

FOR dish IN meal.prepared_dishes %]
<div class="mb-5">
    <h4><span class="display-6">Prepare for <a href="[% dish.meal.url %]">[% dish.meal.name | html %] on [% display_date(dish.meal.date) %]</a>: <a href="[% dish.url %]">[% dish.name | html %]</a></span> ([% dish.servings %] servings)</h4>

    [% PROCESS table prepare = 1 %]

    <div>[% USE Markdown; dish.preparation | markdown %]</div>
</div>
[% END;
END;

BLOCK table;
IF dish.ingredients.size;
has_prep = "f" %]
<table class="table">
    <thead>
        <tr class="sticky-stacked sticky-top">
            <th>Amount</th>
            <th>Article</th>
        </tr>
    </thead>
    [% IF NOT prepare AND dish.has_prepared_ingredients %]
    <tbody>
        <tr>
            <td colspan="3"><b>[% IF dish.prepare_at_meal %]Prepared at [% IF dish.prepare_at_meal;
                prep_meal = dish.prepare_at_meal %]
                <a href="[% dish.meal.url %]">[% prep_meal.name | html %] on [% display_date(prep_meal.date) %]</a>
                [% END;
                ELSE %]For preparation[% END %]:</b></td>
        </tr>
    </tbody>
    [% END;
    IF dish.has_prepared_ingredients %]
    <tbody>
        [% FOREACH ingredient IN dish.ingredients;
            NEXT IF NOT ingredient.prepare;
            has_prep = "t";
            PROCESS table_row;
        END %]
    </tbody>
    [% END;
    IF NOT prepare;
        IF has_prep == "t" %]
    <tbody>
        <tr>
            <td colspan="3" class="pt-4"><b>Other ingredients:</b></td>
        </tr>
    </tbody>
        [% END %]
    <tbody>
        [% FOREACH ingredient IN dish.ingredients;
            NEXT IF ingredient.prepare;
            PROCESS table_row;
        END %]
    </tbody>
    [% END %]
</table>
[% END;
END;

BLOCK table_row %]
<tr>
    <td class="article">
        [% USE SignificantDigits; ingredient.value | significant_digits %]&nbsp;[% ingredient.unit.long_name | html %]
    </td>
    <td>
        [% ingredient.article.name | html;
        IF ingredient.article.comment.length %]
        <span class="comment">&nbsp;([% ingredient.article.comment | html %])</span>
        [% END;
        IF ingredient.comment.length %]
        <br><span class="comment">[% ingredient.comment | html %]</span>
        [% END %]
</tr>
[% END %]

[% INCLUDE includes/infobox_donate.tt %]
