[% escape_title( 'Purchase list', list.name );

title      =      title _ ' for ' _ display_date(list.date, {short=>1});
html_title = html_title _ ' for ' _ display_date(list.date, {html=>1});

css.push('/css/print.css');
css_push_template_path();
js_push_template_path();
%]

<button class="btn btn-primary my-3 material-icons" onclick="print()" title="Print">print</button>

[% IF sections.size == 0 %]
<p>Currently no items assigned</p>
[% END %]

[% FOREACH section IN sections %]
<div class="my-3 no-break-inside">
    <div class="mb-2">
        <h3 class="shop-section text-primary">[% section.name || "No shop section" | html FILTER ucfirst %]</h3>

    [% UNLESS section.name %]
        <p class="no-print">To sort these items into specific shop sections, edit the <a href="[% project_urls.articles %]">articles</a> and select shop sections there.</p>
    [% END %]
    </div>

    <div class="mb-2 table-responsive">
        <table class="table align-middle pl-editor no-print">
            <colgroup>
                <col style="width:25%">
                <col style="width:10%">
                <col>
                <col style="width:15%">
                <col style="width:10%">
                <col style="width:10%">
                <col>
                <col class="btn-icon-1">
            </colgroup>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Article</th>
                    <th colspan="2">Amounts</th>
                    <th>Dishes</th>
                    <th colspan="2">Meals</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            [% FOREACH item IN section.items %]
                <tr id="item-[% item.id %]">
                    [% rowspan = item.ingredients.size;
                    IF item.offset != 0;
                        rowspan = rowspan + 1;
                    END;
                    IF rowspan == 0;
                       rowspan = 1;
                    END %]
                    <td class="item-amount" rowspan="[% rowspan %]">
                    [% IF item.update_offset_url %]
                        <datalist id="values-[% loop.count %]">
                            <option value="[% item.total %]">
                            <option value="[% item.next_higher_value %]">
                            <option value="[% item.next_lower_value%]">
                        </datalist>
                        <form class="d-flex justify-content-between" name="total" method="post" action="[% item.update_offset_url %]">
                            <div class="input-group flex-nowrap">
                            [% IF item.offset %]<span class="input-group-text px-1">ca.</span>[% END %]
                                <input id="total" class="form-control" type="number" min="0" step="any" name="total" list="values-[% loop.count %]" value="[% item.total %]">
                                <span class="input-group-text">[% display_unit( item.unit, {html=>1} ) %]</span>
                            </div>
                            <button class="btn btn-outline-primary ms-1 material-icons" type="submit" title="Update amount">done</button>
                        </form>
                    [% ELSE;
                        IF    item.offset < 0; '&CircleMinus;';
                        ELSIF item.offset > 0; '&CirclePlus;';
                        END;
                        display_value_unit( item.total, item.unit, {html=>1} );
                    END;

                    IF item.convert_url AND item.convertible_into.size %]
                        <form class="d-flex flex-wrap justify-content-end border rounded my-1 w-100" name="convert" method="post" action="[% item.convert_url %]" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click on one of the units, to convert the displayed value to this unit">
                        [% FOREACH unit IN item.convertible_into %]
                            <button class="btn btn-outline-secondary btn-sm m-1" type="submit" name="unit" value="[% unit.id %]">[% unit.short_name | html %]</button>
                        [% END %]
                        </form>
                    [% END %]
                    [% IF item.comment.length %]
                        <br>
                        <span class="comment">([% item.comment | html %])</span>
                    [% END %]
                    </td>
                    <td class="item" rowspan="[% rowspan %]">
                    [% item.article.name | html;
                    IF item.article.comment.length %]
                        <br>
                        <span class="comment">([% item.article.comment | html %])</span>
                    [% END %]
                    </td>

                    [% IF item.ingredients.empty %]
                    <td colspan="6">No ingredients. This might be caused by a software bug.</td>
                </tr>
                    [% END %]
                    [% FOREACH ingredient IN item.ingredients %]
                        [% UNLESS loop.first %]
                </tr>
                <tr>
                        [% END %]
                    <td class="amount" style="text-align:right;">[% display_value_unit( ingredient.value, ingredient.unit, {html=>1} ) %]</td>
                    <td class="comment">[% IF ingredient.comment.length; '('; ingredient.comment | html; ')'; END %]</td>
                    <td class="dish">
                        [% ingredient.dish.name | html;
                        IF ingredient.dish.comment.length %]
                            <br>
                            <span class="comment">([% ingredient.dish.comment | html %])</span>
                        [% END %]
                    </td>
                    <td class="meal">
                        [% ingredient.dish.meal.name | html;
                        IF ingredient.dish.meal.comment.length %]
                            <br>
                            <span class="comment">([% ingredient.dish.meal.comment | html %])</span>
                        [% END %]
                    </td>
                    <td class="date" style="text-align:center;">[% ingredient.dish.meal.date.strftime('%a, %F') %]</td>
                    <td>
                        [% IF ingredient.remove_url %]
                        <form method="post" action="[% ingredient.remove_url %]">
                            <button type="submit" class="btn btn-outline-danger btn-sm btn-quad" title="Remove from purchase list">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </form>
                        [% END %]
                    </td>
                </tr>
                    [% END %]

                    [% IF item.offset %]
                <tr>
                    <td class="text-end rounding">
                        [% display_value_unit( item.offset, item.unit, {html=>1, force_sign=>1} ) %]
                    </td>
                    <td></td>
                    <td class="rounding" colspan="3">
                        <i>rounding difference</i>
                    </td>
                    <td>
                        [% IF item.update_offset_url %]
                        <form name="remove-offset" method="post" action="[% item.update_offset_url %]">
                            <button type="submit" class="btn btn-outline-danger btn-sm btn-quad mb-1 material-icons" title="Reset rounding" name="offset" value="0">undo</button>
                        </form>
                        [% END %]
                    </td>
                </tr>
                    [% END %]

            [% END %]
            </tbody>
        </table>

        <table class="table align-middle print">
            <colgroup>
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:50%">
                <col style="width:10%">
            </colgroup>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Article</th>
                    <th class="amount-dish-meal">
                        <div class="d-flex flex-wrap" style="column-gap:1rem;">
                            <span>
                                <i class="material-icons md-18">straighten</i> Amounts
                            </span>
                            <span>
                                <i class="material-icons md-18">restaurant</i> Dishes
                            </span>
                            <span>
                                <i class="material-icons md-18">calendar_today</i> Meals
                            </span>
                        </div>
                    </th>
                    <th class="date text-end">Dates</th>
                </tr>
            </thead>
            <tbody>
            [% FOREACH item IN section.items %]
                <tr>
                    [% rowspan = item.ingredients.size;
                    IF item.offset != 0;
                        rowspan = rowspan + 1;
                    END;
                    IF rowspan == 0;
                        rowspan = 1;
                    END %]
                    <td class="item-amount" rowspan="[% rowspan %]">
                        [% IF    item.offset < 0; '&CircleMinus;';
                           ELSIF item.offset > 0; '&CirclePlus;';
                        END %]
                        [% display_value_unit(item.total, item.unit, {print=>1}) %]
                        [% IF item.comment.length %]
                            <br>
                            <span class="comment">([% item.comment | html %])</span>
                        [% END %]
                    </td>
                    <td class="item" rowspan="[% rowspan %]">
                        [% item.article.name | html;
                        IF item.article.comment.length %]
                            <br>
                            <span class="comment">([% item.article.comment | html %])</span>
                        [% END %]
                    </td>

                    [% IF item.ingredients.empty %]
                    <td colspan="2">No ingredients. This might be caused by a software bug.</td>
                </tr>
                    [% END %]
                    [% FOREACH ingredient IN item.ingredients %]
                        [% UNLESS loop.first %]
                </tr>
                <tr>
                        [% END %]
                    <td class="small-font amount-dish-meal">
                        <div class="d-flex flex-wrap">
                            <span class="amount">
                                <i class="material-icons md-18">straighten</i>
                                [% display_value_unit( ingredient.value, ingredient.unit, {print=>1} ) %]
                                [% IF ingredient.comment.length %]<i>([% ingredient.comment | html %])</i>[% END %]
                            </span>
                            <span class="dish">
                                <i class="material-icons md-18">restaurant</i>
                                [% ingredient.dish.name | html %]
                                [% IF ingredient.dish.comment.length %]<i>([% ingredient.dish.comment | html %])</i>[% END %]
                            </span>
                            <span class="meal">
                                <i class="material-icons md-18">calendar_today</i>
                                [% ingredient.dish.meal.name | html %]
                                [% IF ingredient.dish.meal.comment.length %]<i>([% ingredient.dish.meal.comment | html %])</i>[% END %]
                            </span>
                        </div>
                    </td>
                    <td class="small-font date text-end">[% ingredient.dish.meal.date.strftime('%a, %F') %]</th>
                </tr>
                    [% END %]

                    [% IF item.offset %]
                <tr>
                    <td class="small-font date" colspan="2">
                        [% display_value_unit( item.offset, item.unit, {print=>1, force_sign=>1} ) %]
                        <em>rounding difference</em>
                    </td>
                </tr>
                    [% END %]

            [% END %]
            </tbody>
        </table>

    </div>
</div>
[% END %]

[% INCLUDE includes/infobox_donate.tt %]
