[% title = "Purchase lists";

js_push_template_path();

BLOCK new_list %]
<tr>
    <td colspan="4">
        <div class="d-grid">
            <button class="btn btn-outline-primary material-icons" data-bs-toggle="modal" data-bs-target="#addList">add</button>
        </div>
    </td>
</tr>
[% END %]

<table class="table table-striped align-middle">
    <thead>
        <tr class="sticky-top">
            <th>Date</th>
            <th>Name</th>
            <th>Items</th>
            <th class="btn-icon-2"></th>
        </tr>
    </thead>
    <tbody>
        [% IF lists.size > 5; PROCESS new_list; END;
        FOR list IN lists;
        is_in_use = list.item_count > 0 %]
        <tr class="parent">
            <td>[% display_date(list.date, {html=>1}) %]</td>
            <td>
                <i class="material-icons"[% IF list.is_default; ' title="Is the default purchase list">add_'; ELSE; '>'; END %]shopping_cart</i>&thinsp;
                <a href="[% list.edit_url %]">[% list.name | html %]</a>
                [% IF list.is_default; '(default)'; END %]
            </td>
            <td>[% list.item_count %]</td>
            <td>
                <div class="d-flex justify-content-between action-btn">
                    <button class="btn btn-outline-dark btn-sm btn-quad update-trigger" title="Rename purchase list" data-url="[% list.update_url %]" data-name="[% list.name | html %]" data-bs-toggle="modal" data-bs-target="#updateList">
                        <i class="material-icons">edit</i>
                    </button>
                    [% IF list.delete_url;
                    IF is_in_use %]
                    <button class="btn btn-outline-danger btn-sm btn-quad delete-trigger" title="Delete purchase list" data-url="[% list.delete_url %]" data-name="[% list.name | html %]" data-count="[% list.item_count %]"  data-bs-toggle="modal" data-bs-target="#delete-list">
                        <i class="material-icons">delete_forever</i>
                    </button>
                    [% ELSE %]
                    <form action="[% list.delete_url %]" method="post">
                        <button type="submit" class="btn btn-outline-danger btn-sm btn-quad" title="Delete purchase list">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </form>
                    [% END;
                    ELSE %]
                    <button type="submit" class="btn btn-outline-danger btn-sm btn-quad tt-disabled-btn" title="Default purchase list can't be deleted." disabled >
                        <i class="material-icons">delete_forever</i>
                    </button>
                    [% END %]
                </div>
            </td>
        </tr>
        [% END;
        PROCESS new_list %]
    </tbody>
</table>

[% WRAPPER includes/infobox.tt %]
    <em>Purchase lists</em> contain all articles that need to be sourced to prepare the planned meals.
    Sort them into multiple lists for different purchase dates or stores.
</p>

<p>
    <i class="material-icons">lightbulb</i> Pro tip:
    Get well-structured lists by assigning articles their shop section.
    Also items for the same article can be merged by converting them to the same unit.
[% END %]

<form id="update-list" method="post" action="">
    <div class="modal fade" id="updateList" tabindex="-1" aria-labelledby="updateListLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateListLabel">Rename purchase list <i id="list-name"></i></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="pl-new-name" class="form-label">New name</label>
                        <input id="pl-new-name" class="form-control" type="text" name="name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Rename purchase list</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" action="[% create_url %]">
    <div class="modal fade" id="addList" tabindex="-1" aria-labelledby="addListLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addListLabel">Create purchase list</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="pl-name" class="form-label">Name</label>
                        <input id="pl-name" class="form-control" type="text" name="name" value="[% last_input.name %]" required>
                    </div>
                    <div class="mb-3">
                        <label for="pl-date" class="form-label">Date</label>
                        <input id="pl-date" class="form-control" type="date" name="date" min="[% min_date.ymd %]" value="[% last_input.date || default_date.ymd %]" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create purchase list</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="delete-list-form" method="post" action="">
    <div class="modal fade" id="delete-list" tabindex="-1" aria-labelledby="delete-list-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-list-label">Delete purchase list <em id="delete-list-name"></em></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this purchase list?
                    On this list <span id="delete-list-count"></span>. Which will then be moved to the default purchase list.
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary btn-sm" title="Cancel" data-bs-dismiss="modal">
                        <i class="material-icons">close</i> Cancel
                    </button>
                    <button id="delete-btn" type="submit" class="btn btn-danger btn-sm" title="Delete purchase list">
                        <i class="material-icons">delete_forever</i> Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
