[% escape_title( 'Organization members of', organization.display_name );

js_push_template_path();
js.push('/lib/coocook-web-components/dist/autocomplete/autocomplete.es.js');

has_admin = 0 %]

<div class="row my-3">
    <div class="col">
        <a class="btn btn-outline-primary" href="[% organization_url %]">Back to organization page</a>
    </div>
</div>

<div class="table-responsive my-3">
    <table class="table align-middle m-0" style="min-width:510px;">
        <thead>
            <tr>
                <th>User</th>
                <th>Role</th>
                <th class="btn-icon-2">Actions</th>
        </thead>
        <tbody>
        [% FOR o_u IN organizations_users %]
            <tr>
                <td>[% link_user(o_u.user) %]</td>
                <td>
                [% IF o_u.edit_url %]
                    <form class="input-group" method="post" action="[% o_u.edit_url %]" style="width:150px">
                        <select class="form-select form-select-sm" name="role">
                        [% FOR role IN roles %]
                            <option value="[% role %]" [% 'selected' IF o_u.role == role %]>[% role %]</option>
                        [% END %]
                        </select>
                        <button class="btn btn-outline-secondary btn-sm material-icons" type="submit" title="Update role">done</button>
                    </form>
                [% ELSE %]
                    <span class="px-2">[% o_u.role %]</span>
                [% END %]
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                    [% IF o_u.transfer_ownership_url;
                        has_admin = 1 %]
                        <form name="transfer-ownership" method="post" action="[% o_u.transfer_ownership_url %]">
                            <button class="btn btn-outline-secondary btn-sm btn-quad material-icons" type="submit" title="Transfer ownership">sync_alt</button>
                        </form>
                    [% END %]
                    [% IF o_u.remove_url %]
                        <form class="ms-2" method="post" action="[% o_u.remove_url %]">
                            <button class="btn btn-outline-danger btn-sm btn-quad material-icons" type="submit" title="Remove">delete_forever</button>
                        </form>
                    [% END %]
                    </div>
                </td>
            </tr>
        [% END %]
        </tbody>
    </table>
</div>

[% IF has_admin == 0 %]
<div class="alert alert-light">
    <i class="material-icons">info</i>
    You need another member with role <em>admin</em> to transfer ownership to them.
</div>
[% END %]


<div class="card my-3">
    <div class="card-header">
        <h3>Add member</h3>
    </div>
    <div class="card-body">
    [% IF other_users %]
        <div id="add-member-msg"></div>
        <form method="post" action="[% add_url %]" id="add-member">
            <div class="mb-2">
                <label for="user" class="form-label">User</label>
                <cc-autocomplete id="user" endpoint='{"url": "/autocomplete/users"}' render="renderUserOption" filter="filterUser" input-name="name" msg-func="alertMessage" invalid='["Please select an user", "danger", false, "add-member-msg"]'></cc-autocomplete>
                <input class="delete-by-autocomplete-js" required name="name" type="text">
            </div>
            <div class="mb-2">
                <label for="role" class="form-label">Role</label>
                <select id="role" class="form-select" name="role">
                [% FOR role IN roles %]
                    <option value="[% role %]">[% role %]</option>
                [% END %]
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form>
    [% ELSE %]
        <p>No more users. You need to let users sign up before adding them to this organization.</p>
    [% END %]
    </div>
</div>

[% WRAPPER includes/infobox.tt %]
    <em>Organization members</em> share the same permissions on projects
    as granted to the organization’s name
    like they had been granted permissions individually.
</p>

<p>
    The <em>role</em> affects only a user’s capability to manage the organization itself.
    All members share the same permissions on projects.
[% END %]
