[% escape_title( 'Organization', organization.display_name ) %]

<p>Name: <i class="material-icons">groups</i> [% organization.name %]</p>

[% IF update_url %]
<form class="inline" method="post" action="[% update_url %]">
<p>
    Display name:
    <input type="text" name="display_name" value="[% organization.display_name | html %]">
    <input type="submit" value="Update">
</p>
</form>

<h3>Description</h3>
<form method="post" action="[% update_url %]">
    <div class="row mb-2">
        <div class="col-sm-6 mb-sm-0 mb-2">
            <textarea class="form-control with-markdown-preview" name="description_md" rows="10">[% organization.description_md | html %]</textarea>
        </div>
    </div>
    <p><input type="submit" value="Update"></p>
</form>
[% ELSE %]
    <p>Display name: [% organization.display_name | html %]</p>

    <h3>Description</h3>
    [% USE Markdown; organization.description_md | markdown %]
[% END %]

<h3>Members</h3>

[% IF members_url %]
<a href="[% members_url %]">Manage memberships</a>
[% END %]

<ul>
[% FOR organization_user IN organizations_users %]
    <li>[% link_user(organization_user.user) %] ([% organization_user.role %])</li>
[% END %]
</ul>

<h3>Projects</h3>

[% IF organizations_projects.empty %]
    <p>None visible.</p>
[% ELSE %]
<ul>
[% FOR organization_project IN organizations_projects %]
    <li>[% link_project(organization_project.project) %] ([% organization_project.role %])</li>
[% END %]
</ul>
[% END %]

[% IF delete_url %]
<h3>Delete organization</h3>

<p>Deleting an organization also removes all memberships and the organization’s permissions on projects.</p>

<form name="delete" method="post" action="[% delete_url %]">
    <input type="submit" value="Delete organization">
</form>
[% END %]

[% WRAPPER includes/infobox.tt %]
    Organization profiles are visible to every user logged in on [% name %].
    <br>
    Users outside of an organization won’t see names of its private projects that they have no permission for.
[% END %]
