[% IF user;
    title = "Recipes";
ELSE;
    title = "Public Recipes";
END %]

<div class="alert alert-success">
    <p class="m-0">
    [% IF user %]
        This list also includes private recipes which you are allowed to view.
    [% ELSE %]
        These are <em>only</em> public recipes.
        <a class="alert-link hov-under" href="[% login_url %]">Sign in</a> to view private recipes, too, or to import a recipe into one of your projects.
    [% END %]
    </p>
</div>

[% BLOCK recipe_item %]
<div>
    <a href="[% item.url %]">[% item.name | html %]</a>
    from [% link_project(item.project) %]
    by [% link_user(item.project.owner) %]
</div>
[% IF item.import_url %]
<form method="get" action="[% item.import_url %]" class="action-btn">
    <button type="submit" title="Import this recipe into one of your projects" class="btn btn-primary">Import&thinsp;<i class="material-icons">east</i></button>
</form>
[% END;
END;
list(recipes, 'recipe_item', {item_classes => 'd-flex gap-3 justify-content-between align-items-center parent', list_classes => 'my-3'}) %]

[% WRAPPER includes/infobox.tt %]
    You can use these recipes as a template for your project.
    To do so import some into your project first
    and then create a new dish from the recipe of your choice.
[% END %]
