[% IF user;
    title = "Recipes";
ELSE;
    title = "Public Recipes";
END %]

<div class="alert alert-success">
    <p class="m-0">
    [% IF user %]
        This list also includes private recipes which you are allowed to view.
    [% ELSE %]
        These are <em>only</em> public recipes.
        <a class="alert-link hov-under" href="[% login_url %]">Sign in</a> to view private recipes, too, or to import a recipe into one of your projects.
    [% END %]
    </p>
</div>

<ul>
[% FOR recipe IN recipes %]
    <li>
    [% IF recipe.import_url %]
        <form method="get" action="[% recipe.import_url %]" class="inline">
            <input type="submit" value="Import" title="Import this recipe into one of your projects">
        </form>
    [% END %]
        <a href="[% recipe.url %]">[% recipe.name | html %]</a>
        (from [% link_project(recipe.project) %]
        by <a href="[% recipe.project.owner.url %]">[% recipe.project.owner.display_name | html %]</a>)
    </li>
[% END %]
</ul>

[% WRAPPER includes/infobox.tt %]
    You can use these recipes as a template for your project.
    To do so import some into your project first
    and then create a new dish from the recipe of your choice.
[% END %]
