[% title = "Create recipe" %]

<form method="post" action="[% create_url %]">

    <div class="d-flex gap-3 mb-3">
        <div class="form-floating flex-grow-1">
            <input id="name" type="text" name="name" class="form-control" placeholder="name">
            <label for="name">Name</label>
        </div>
        <div class="form-floating">
            <input id="servings" type="number" name="servings" value="4" class="form-control" placeholder="servings">
            <label for="servings">Servings</label>
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Create">

</form>
