.pl-editor {
    min-width: 1150px;
}

.no-break-inside {
    break-inside: avoid;
}

@media print {
    .shop-section {
        color: #000 !important;
        font-weight: bold;
    }

    .pl-editor {
        min-width: unset;
    }
}
